
<!DOCTYPE html>
  
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bank</title>
</head>
<body>
<div>
    <h3>Enter your password</h3>
    <form method="post" action="~/Home/Login">
        <table>
            <tr><td><p>Enter ID </p></td>
                <td><input type="number" name="id" /> </td></tr>
            <tr><td><p>Enter Password :</p></td><td>
                <input type="text" name="password"/> </td></tr>
            <tr><td><input type="submit"  value="Login" /> </td><td></td></tr>
        </table>
    </form>
</div>
</body>
</html>